:host {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.admin {
  display: flex;
  gap: .8rem;
  align-items: center;
  text-decoration: none;
  color: var(--font-main-color);
  
  &:hover {
    cursor: pointer;
  }
}

.avatar {
  vertical-align: middle;
  text-align: center;
  width: 2.5rem;
}

.userame {
  text-align: end;
}

.auth-btn {
  height: 2.4rem;
  border-radius: .5rem;
}