@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

html {
  font-size: var(--base-size);
}

body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

@mixin font-main() {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--font-main-color);
}

ul, 
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  @include font-main();

  &:hover {
    cursor: pointer;
  }
}

input[type='text'],
input[type='password'] {
  outline: none;
  border: 1px transparent;
}

.wrapper {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
}

.btn {
  transition: all .3s;
  background-color: var(--btn-bg);
  text-transform: lowercase;
  @include font-main();
  color: var(--font-btn-color);
  border-radius: .5rem;
  min-height: 2.4rem;

  &:hover {
    background-color: var(--btn-hover-bg);
    filter: var(--hover-shadow);
  }
}

.app-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font-main();
}

.title {
  font-size: 1.8rem;
}

.form-label {
  color: var(--auxiliary-color);
}

.http-err-message,
.info-message {
  padding: 0 3rem;
  text-align: center;
  font-size: 2rem;
  color: var(--auxiliary-color);
  font-weight: bold;
}

button:disabled {
  color: var(--auxiliary-color);
  background-color: var(--disabled-bg-color);
  border: 1px solid var(--auxiliary-color);

  &:hover {
    pointer-events: none;
    filter: none;
    background-color: var(--disabled-bg-color);
  }
}

.input.ng-invalid.ng-touched {
  border-bottom: 2px solid var(--error-color);
}

.input.ng-valid.ng-touched {
  border-bottom: 2px solid var(--success-color);
}

.validation {
  color: var(--error-color);
  font-size: 1rem;

  li {
    color: var(--auxiliary-color);
  }
}