:root {
 --base-size: 10px;
 --btn-bg: #5EA2FF;
 --btn-hover-bg: #2F80ED;
 --link-color: #2F80ED;
 --font-btn-color: white;
 --font-main-color: black;
 --hover-shadow: drop-shadow(1px 0px 3px var(--btn-hover-bg));
 --auxiliary-color: #929292;
 --bg-component-color: #E5E5E5;
 --input-bg-color: #EFEFEF;
 --forms-popup-bg-color: #F2F2F2;
 --forms-input-bg-color: #E0E0E0;
 --card-title-color: #4F4F4F;
}
