:host {
  margin-bottom: 4rem;
  width: 100%;
  background-color: var(--bg-component-color);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}

.top-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  @media screen and (max-width: 680px) {
    flex-direction: column-reverse;
  }
}

.search-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  width: max-content;
  
  @media screen and (max-width: 680px) {
    width: 100%;
    justify-content: flex-end;
  }
}