:host {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-btn {
  height: 2.4rem;
  border-radius: 0 4px 4px 0;
  background-color: var(--btn-bg);
}

.settings-btn {
  transition: all .3s ease;
  padding: 0px;
  margin-left: 1rem;
  
  &:hover {
    filter: var(--hover-shadow);
  }
}

.settings-btn__img {
  text-align: center;
  vertical-align: middle;
}

.search-input {
  height: 2.4rem;
  background-color: var(--input-bg-color);
  color: var(--font-main-color);
  outline: none;
  border: none;
  flex-grow: 1;
  max-width: 32rem;

  &::placeholder {
    color: var(--auxiliary-color);
  }
}
