:host {
  background-color: var(--forms-popup-bg-color);
  padding: 3rem 2rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  background-color: var(--forms-input-bg-color);
  height: 3.8rem;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.form-layout {
  display: flex;
  min-width: 30rem;
  flex-direction: column;
  gap: .5rem;
}

.form-btn {
  width: 12rem;
  height: 3rem;
  border-radius: .5rem;
  margin-top: 2rem;
  align-self: flex-end;
}

input.ng-invalid.ng-touched {
  border-bottom: 2px solid var(--error-color);
}

input.ng-valid.ng-touched {
  border-bottom: 2px solid var(--success-color);
}

.validation {
  color: var(--error-color);
  font-size: 1rem;

  li {
    color: var(--auxiliary-color);
  }
}