<h2 class="title">Login</h2>
<form class="form-layout" [formGroup]="form" (ngSubmit)="login()">
  <label class="form-label">
    login
    <input ngClass="input" type="text" formControlName="username">
    <div class="validation" *ngIf="form.get('username')?.invalid && form.get('username')?.touched">
      <span  *ngIf="form.get('username')?.errors?.['required']">Please enter a login email</span>
      <span *ngIf="form.get('username')?.errors?.['email']">The login email is invalid</span>
    </div>
  </label>
  
  <label class="form-label">
    password
    <input ngClass="input" type="password" formControlName="password">
    <div class="validation"  *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
      <span  *ngIf="form.get('password')?.errors?.['required']">Please enter a password</span>
      <div *ngIf="!form.get('password')?.errors?.['required'] && form.get('password')?.errors?.['strongPassword']">
        Your password isn't strong enough:
        <ul>
          <li *ngFor="let error of form.get('password')?.errors?.['strongPassword']">{{error}}</li>
        </ul>
      </div>
    </div>
  </label>
  <button type="submit" ngClass="btn form-btn" [disabled]="form.invalid">login</button>
</form>
